<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzes.huddle">
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <meta-data
        android:name="android.support.VERSION"
        android:value="26.0.1"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".app.BaseApplication"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <provider android:authorities="com.yancy.gallerypickdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="m205ShTgM7qZCNYZtGgO61xqTc4Guj86"/>

        <activity android:label="@string/app_name"
            android:name="com.wzes.huddle.homepage.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:label="@string/app_name"
            android:name="com.wzes.huddle.login.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wzes.huddle.register.RegisterActivity"/>
        <activity android:name="com.wzes.huddle.myinfo.MyInfoActivity"/>
        <activity android:name="com.wzes.huddle.myinfo.MyInfoSettingActivity"/>
        <activity android:name="com.wzes.huddle.event_info.EventInfoActivity"
            android:theme="@style/EventActivityTheme"/>
        <activity android:name="com.wzes.huddle.team_info.TeamInfoActivity"
            android:theme="@style/EventActivityTheme"/>
        <activity android:name="com.wzes.huddle.user_info.UserInfoActivity"/>
        <!--<service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>-->
        <service android:name="com.wzes.huddle.chatservice.ChatService"/>
        <activity android:name="com.wzes.huddle.team_info.TeamInfoLocationActivity"/>
        <activity android:name="com.wzes.huddle.chatservice.ChatActivity"/>
        <activity android:name="com.wzes.huddle.imageloader.ImageViewActivity"/>
        <receiver android:name="com.wzes.huddle.homepage.ChatFragment$Receiver">
            <intent-filter>
                <action android:name="com.wzes.huddle.list"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.wzes.huddle.chatservice.ChatActivity$UserReceiver">
            <intent-filter>
                <action android:name="com.wzes.huddle.user"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.wzes.huddle.setting.SettingActivity"/>
        <!--<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.yancy.gallerypick.activity.GalleryPickActivity" android:screenOrientation="portrait" android:theme="@style/GalleryTheme"/>-->
        <!--<activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>-->
    </application>

</manifest>